$blue: #2b80b9;
$red: #e74b3c;
$green: #1cbb9b;
$yellow: #f2c311;

* {
  margin: 0;
  padding: 0;
}

.main-container {
  padding: 0 15px;
}

.current-score, .high-score {
  font-weight: bold;
  font-size: 50px;
}

.fa-trophy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: gold;
}

.top-container {
  position: relative;
  top: 0;
  left: 0;
  height: 10vh;
  overflow: hidden;
  color: black;
  font-size: 30px;
  padding: 20px;
}

.score-container {
  position: relative;
  top: 0;
  left: 0;
  height: 20vh;
  overflow: hidden;
  text-align: center;
  color: black;
}

.scores {
  width: 500px;
  max-width: 100%;
  margin-bottom: 0;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

#corner-1 {
  background: $blue;
}

#corner-2 {
  background: $green;
}

#corner-3 {
  background: $red;
}

#corner-4 {
  background: $yellow;
}

.main-container {

}

.corner {
  height: 35vh;
  position: relative;
  color: white;

  p {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 768px) {
  .top-container {
    padding: 10px;

    .col-md-6 {
      padding: 0;
    }

    h1 {
      font-size: 25px;
      margin-top: 7px;
    }
  }
}
