$blue: #2b80b9;
$red: #e74b3c;
$green: #1cbb9b;
$yellow: #f2c311;

* {
  margin: 0;
  padding: 0;
}

.main-container {
  position: relative;
  padding: 0 15px;
}

.current-score, .high-score {
  font-weight: bold;
  font-size: 50px;
}

.fa-trophy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: gold;
}

.top-container {
  position: relative;
  top: 0;
  left: 0;
  height: 10vh;
  overflow: hidden;
  color: black;
  font-size: 30px;
  padding: 20px;
}

.about-container {
  position: relative;
  top: 0;
  left: 0;
  height: 20vh;
  overflow: hidden;
  text-align: center;
  color: black;
}

.instructions-container {
  width: 400px;
  max-width: calc(100% - 40px);
  display: block;
  margin: 0 auto;

  p {
    text-align: left;
  }
}

#picks-left {
  font-size: 50px;
  font-weight: bold;
}

#hand-spinner {
  height: 40vh;
  position: absolute;
  z-index: 3;
  top: calc(50% - 20vh);
  left: calc(50% - 5px);
  width: 10px;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background: black;
  }

  &:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid black;
  }
}

.main-container {

}

#start-button {
  display: none;
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  background: black;
  text-align: center;
  line-height: 70vh;
  height: 70vh;
  width: 100%;
  z-index: 5;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.6);
  color: white;

  &:hover {
    cursor: pointer;
  }
}

.corner {
  height: 35vh;
  position: relative;
  color: white;
  border: solid 10px white;

  p {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#corner-1 {
  background: $blue;
  border-color: $blue;
}

#corner-2 {
  background: $green;
  border-color: $green;
}

#corner-3 {
  background: $red;
  border-color: $red;
}

#corner-4 {
  background: $yellow;
  border-color: $yellow;
}

.picked {

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.25);
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .desktop-instructions {
    display: none;
  }
  .mobile-instructions {
    color: white;
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    background: rgba(0,0,0,.85);

    h2 {
      text-align: center;
      margin-bottom: 15px;
    }

    .close-instructions {
      padding: 5px;
      width: 200px;
      background: green;
      text-align: center;
      display: block;
      margin: 30px auto;
      border-radius: 20px;
      font-size: 1.4rem;
    }
  }
  .about-container {
    height: 30vh;
  }
  .current-score, .high-score, #picks-left {
    line-height: 50px;
    font-size: 50px;
  }
  .corner {
    height: 30vh;
  }
  #start-button {
    height: 60vh;
  }
  .top-container {
    padding: 10px;

    .col-md-6 {
      padding: 0;
    }

    h1 {
      font-size: 25px;
      margin-top: 7px;
    }
  }
}

// very small phones
@media (max-width: 340px) {
  .current-score, .high-score, #picks-left {
    font-size: 40px;
    line-height: 40px;
  }
}
